* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {

  font-size: 62.5%;

  --ff-heading: 'Staatliches', cursive;
  --ff-text: 'Palanquin', cursive;
  --fs-heading: 4rem;
  --fs-text: 2rem; 

  --bgc-header: #8E9AAF;
  --bgc-body:#EFF1FF;
  --bgc-balao:#FEEAFA;
}

body {
  background-color: var(--bgc-body);
}

header {
  text-align: center;

  background-color: var(--bgc-header);

  padding: 3.2rem 0;
}

header h1 {
  color: white;
  font-family: var(--ff-heading);
  font-weight: 400;
  font-size: var(--fs-heading);
  line-height: 3.4rem;
  letter-spacing: 0.05em;

  margin-top: 4rem;
  padding: 8px 0;
  background-color: #CBC0D3;
}

.cards {
  display: grid;
  gap: 3.6rem;
}

main {
  max-width: 32rem;
  margin: 0 auto;
}

main img {
  width: 100%;
  height: auto;
}

.texto {
  margin: 1.4rem auto 6.3rem;
  padding: 0 3.2rem;
}

p {
  margin: 1.4rem auto 2.7rem;
  
  font-family: var(--ff-text);
  text-align: center;
  font-weight: 400;
  font-size: 1.5rem; /* Problema aqui na fonte*/
  line-height: 1.5rem;
  color: #23053A;

  height: 7.5rem;
}

.card { 
  position: relative;

  animation: downTop 700ms;
}

.card img {
  object-fit: cover;
}

.card h2 {
  position: absolute;

  top: 16px;
  right: 16px;

  height: 3.5rem;
  background: var(--bgc-balao);
  border-radius: 20px;

  display: flex;
  align-items: center;

  padding: 0 2.4rem;

  font-family: 'Staatliches';
  font-weight: 400;
  font-size: 2rem;
  line-height: 3.4rem;

  letter-spacing: 0.05em;

  color: #4A4E69;

  animation: topDown 1s forwards;
}


@keyframes downTop {
  0% {
    opacity: 0;
    transform: translateY(15px);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes topDown {
  0% {
    opacity: 0;
    transform: translateY(0);
  }

  100% {
    opacity: 1;
    transform: translateY(15px);
  }
}